<!DOCTYPE html>
<html>
<head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" /><![endif]-->

    <link rel="stylesheet" href="../../stylesheets/leaflet-sidebar.css" />
    <link rel="stylesheet" href="../../stylesheets/geodesa.css" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>
</head>
<body>
  <div class="panel panel-info panel-listado">
      <div class="panel-heading">
            <h3 class="panel-title"><p>Devices API Documentation</p></h3>
      </div>
           <table class="table">
             <tr>
              <td>
                 /devices/create
                 <button type="submit" class="btn btn-primary pull-right btn-sm">POST</button>
              </td>
            </tr>
            <tr>
              <td>
                 /devices/solicitudalta
                 <button type="submit" class="btn btn-success pull-right btn-sm">GET</button>
              </td>
            </tr>
            <tr>
             <td>
               /devices/search/:lat/:lon/:distance
                <button type="submit" class="btn btn-success pull-right btn-sm">GET</button>
             </td>
            </tr>
            <tr>
             <td>
                /devices/:deviceId
                <button type="submit" class="btn btn-success pull-right btn-sm">GET</button>
                <button type="submit" class="btn btn-danger pull-right btn-sm">DELETE</button>
                <button type="submit" class="btn btn-warning pull-right btn-sm">PUT</button>
             </td>
           </tr>
           <tr>
             <td>
                /devices/:deviceId/edit
                <button type="submit" class="btn btn-success pull-right btn-sm">GET</button>
             </td>
           </tr>
           <tr>
            <td>
              /devices/:deviceId/revisions
               <button type="submit" class="btn btn-success pull-right btn-sm">GET</button>
            </td>
           </tr>
           <tr>
            <td>
              /devices/:deviceId/revisions/:revisionId/edit
               <button type="submit" class="btn btn-success pull-right btn-sm">GET</button>
            </td>
           </tr>
           <tr>
            <td>
               /devices/:deviceId/:revisionId/
               <button type="submit" class="btn btn-success pull-right btn-sm">GET</button>
               <button type="submit" class="btn btn-danger pull-right btn-sm">DELETE</button>
               <button type="submit" class="btn btn-warning pull-right btn-sm">PUT</button>
               <button type="submit" class="btn btn-primary pull-right btn-sm">POST</button>
            </td>
          </tr>
          <tr>
            <td>
               /devices/:deviceId/registries
               <button type="submit" class="btn btn-success pull-right btn-sm">GET</button>
            </td>
          </tr>
          <tr>
           <td>
             /devices/:deviceId/registries/:registryId/edit
              <button type="submit" class="btn btn-success pull-right btn-sm">GET</button>
           </td>
          </tr>
          <tr>
           <td>
              /devices/:deviceId/registries/:registryId
              <button type="submit" class="btn btn-success pull-right btn-sm">GET</button>
              <button type="submit" class="btn btn-danger pull-right btn-sm">DELETE</button>
              <button type="submit" class="btn btn-warning pull-right btn-sm">PUT</button>
              <button type="submit" class="btn btn-primary pull-right btn-sm">POST</button>
           </td>
         </tr>

           </table>
    </div>
    <hr>
    <div class="backButton">
      <a href="/" class="btn btn-info btn-lg active btn-block">Volver</a>
    </div>


    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="../../js/leaflet-sidebar.js"></script>
</body>
</html>
