<!--formulario de Devices -->

<form class="form-inline" action="/create" method="post" enctype="multipart/form-data">
    <div class="panel panel-info nuevoformulario">
          <div class="form-group">
            <label for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
          </div>
          <br>
          <div class="form-group">
            <label for="serial_number">Número de serie</label>
            <input type="text" class="form-control" id="serial_number" name="serial_number" placeholder="Numero de serie">
          </div>
          <br>
          <div class="form-group">
            <label for="localizacion">localizacion</label><br>
            <input type="text" class="form-control" id="location" name="location" placeholder="localizacion (lon,lat) __._,__._">
          </div>
          <br>
          <div class="form-group">
            <label for="address">Dirección</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Dirección">
          </div>
          <br>
          <div class="form-group">
            <label for="city">localidad</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="localidad">
          </div>
          <br>
          <div class="form-group">
            <label for="postal_code">Código postal</label>
            <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Código postal">
          </div>
          <br>
          <div class="form-group">
            <label  for="province">Provincia</label>
            <input type="text" class="form-control" id="province" name="province" placeholder="Provincia">
          </div>
          <br>
          <div class="form-group">
            <label  for="provider">Proveedor</label>
            <input type="text" class="form-control" id="provider" name="provider" placeholder="Proveedor">
          </div>
          <br>
          <div class="form-group">
            <label for="deviceType">Instalación (obligatorio, voluntario)</label>
            <select class="form-control" id="deviceType" name="instalation">
              <option>obligatorio</option>
              <option>voluntario</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <label  for="date_instalation">Fecha de instalación</label>
            <input type="date" class="form-control" id="date_instalation" name="date_instalation" placeholder="Fecha de instalación">
          </div>
          <br>
          <div class="form-group">
            <label for="deviceType">Estado (0 - fallo, 1 - ok, 2 - revision)</label>
            <select type= "text" class="form-control" id="id_estado" name="id_estado">
              <option>0</option>
              <option>1</option>
              <option>2</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <label  for="make">Marca</label>
            <input type="text" class="form-control" id="make" name="make" placeholder="Marca">
          </div>
          <br>
          <div class="form-group">
            <label  for="model">Modelo</label>
            <input type="text" class="form-control" id="model" name="model" placeholder="Modelo">
          </div>
          <br>
          <div class="form-group">
            <label  for="firmware">firmware:</label>
            <input type="text" class="form-control" id="firmware" name="firmware:" placeholder="firmware">
          </div>
          <br>
          <!--<div class="form-group">
            <label class="sr-only" for="deviceType">Tipo de dispositivo</label>
            <select class="form-control" id="deviceType">
              <option>DEA</option>
              <option>DESA</option>
              <option>Desfibrilador</option>
            </select>
          </div>
          <br>
          <div class="form-group">
            <label for="imagen">Imagen</label><br>
            <input type="file" class="form-control" id="imagen" name="imagen" placeholder="Imagen">
          </div>-->
          <br><br>
          <button type="submit" class="btn btn-info">Enviar</button>
          <br><br>
    </div>
</form>
    <br><br>
    <div class="backButton">
      <a href="/devices" class="btn btn-info btn-lg active btn-block">Volver</a>
    </div>
    <br>
