<!--formulario de Devices -->

    <form class="form-inline" action="/create" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label class="sr-only" for="name">Nombre</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
          </div>
          <br>
          <div class="form-group">
            <label class="sr-only" for="serial_number">Número de serie</label>
            <input type="text" class="form-control" id="serial_number" name="serial_number" placeholder="Numero de serie">
          </div>
          <br>
          <div class="form-group">
            <label class="sr-only" for="localizacion">localizacion</label>
            <input type="text" class="form-control" id="location" name="location" placeholder="localizacion (lon,lat) __._,__._">
          </div>
          <br>
          <div class="form-group">
            <label class="sr-only" for="address">Dirección</label>
            <input type="text" class="form-control" id="address" name="address" placeholder="Dirección">
          </div>
          <br>
          <div class="form-group">
            <label class="sr-only" for="city">Ciudad</label>
            <input type="text" class="form-control" id="city" name="city" placeholder="Ciudad">
          </div>
          <br>
          <div class="form-group">
            <label class="sr-only" for="postal_code">Código postal</label>
            <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Código postal">
          </div>
          <br>
          <div class="form-group">
            <label class="sr-only" for="province">Provincia</label>
            <input type="text" class="form-control" id="province" name="province" placeholder="Provincia">
          </div>
          <br>
          <div class="form-group">
            <label class="sr-only" for="provider">Proveedor</label>
            <input type="text" class="form-control" id="provider" name="provider" placeholder="Proveedor">
          </div>
          <br>
          <!--<div class="form-group">
            <label class="sr-only" for="provider">Instalacion</label>
            <input type="text" class="form-control" id="provider" name="provider" placeholder="Proveedor">
          </div>
        
          instalation: req.body.instalation,
          activaction_emergency: req.body.activaction_emergency,
          date_instalation: req.body.date_instalation,
          model: req.body.model,
          make: req.body.make,
          software:req.body.	software,
          software_version:req.body.software_version,
          id_estado:req.body.id_estado   -->

          <br><br>
          <div class="form-group">
            <label class="sr-only" for="deviceType">Tipo de dispositivo</label>
            <select class="form-control" id="deviceType">
              <option>DEA</option>
              <option>DESA</option>
              <option>Desfibrilador</option>
            </select>
          </div>

          <br><br>
          <div class="form-group">
            <label for="imagen">Imagen</label><br>
            <input type="file" class="form-control" id="imagen" name="imagen" placeholder="Imagen">
          </div>
          <br><br>
          <button type="submit" class="btn btn-info">Enviar</button>
    </form>
    <br><br>
    <form action="../../" method="get">
       <button type="submit" class="btn btn-primary">volver</button>
    </form>
    <br>
