<!DOCTYPE html>
<html>
<head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" /><![endif]-->

    <link rel="stylesheet" href="../stylesheets/leaflet-sidebar.css" />
    <link rel="stylesheet" href="../stylesheets/geodesa.css" />
   <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 200%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>
</head>
<body>
  <div class="panel panel-info solicitudalta">

            <div class="panel-heading">
              <h3 class="panel-title"><p>Formulario solicitud avistamiento de un device no registrado: </p></h3>
            </div>
            <br>
            <form class="form-inline" action="/create" method="post" enctype="multipart/form-data">

                  <div class="form-group">
                    <label for="address">Direcci贸n</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Direcci贸n">
                  </div>
                  <br><br>
                  <div class="form-group">
                    <label  for="city">Ciudad</label>
                    <input type="text" class="form-control" id="city" name="city" placeholder="Ciudad">
                  </div>
                  <br><br>
                  <div class="form-group">
                    <label  for="province">Provincia</label>
                    <input type="text" class="form-control" id="province" name="province" placeholder="Provincia">
                  </div>
                  <br><br>
                  <div class="form-group">
                    <label for="postal_code">C贸digo_postal</label>
                    <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="c贸digo postal">
                  </div>
                  <br><br>
                  <div class="form-group">
                    <label for="location">localizacion</label>
                    <input type="text" class="form-control" id="location" name="location" placeholder="localizacion (lon,lat) __._,__._">
                  </div>
                  <br><br>
                  <br>
                  <div class="form-group">
                    <label for="deviceType">Tipo de dispositivo</label>
                    <select class="form-control" id="deviceType">
                      <option>DEA</option>
                      <option>DESA</option>
                      <option>Desfibrilador</option>
                    </select>
                  </div>
                  <br><br>
                  <div class="form-group">
                    <label for="imagen">Imagen</label><br>
                    <input type="file" class="form-control" id="imagen" name="imagen" placeholder="Imagen">
                  </div>
                  <br><br>
                  <br><br>
                  <button type="submit" class="btn btn-info">Enviar</button>
            </form>
            <br><br>
            <form action="../" method="get">
               <button type="submit" class="btn btn-primary">volver</button>
            </form>
            <br>
            <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
            <script src="../js/leaflet-sidebar.js"></script>

  </div>

</body>
