<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" /><![endif]-->

    <link rel="stylesheet" href="../stylesheets/leaflet-sidebar.css" />

    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>
</head>
<body>
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <li><a href="#device" role="tab"><i class="fa fa-heart"></i></a></li>
                <li><a href="#api" role="tab"><i class="fa fa-laptop"></i></a></li>

                <li><a href="#contact" role="tab"><i class="fa fa-envelope"></i></a></li>
            </ul>

            <ul role="tablist">
                <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    geoDESA
                    <div class="sidebar-close"><i class="fa fa-caret-left"></i></div>
                </h1>

                <p>A responsive sidebar for mapping libraries like <a href="http://leafletjs.com/">Leaflet</a> or <a href="http://openlayers.org/">OpenLayers</a>.</p>

                <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>

                <p class="lorem">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
            </div>

            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header">Profile<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>

            </div>

            <div class="sidebar-pane" id="device">
                <h1 class="sidebar-header">DEA / DESA<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">New DEA/DESA</h3>
                  </div>
                  <div class="panel-body">
                    <p class="lorem">Introduzca la información del nuevo dispositivo</p>
                    <form class="form-inline" action="" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label class="sr-only" for="description">Descripción</label>
                        <input type="text" class="form-control" id="description" placeholder="Descripción">
                      </div>
                      <br>
                      <div class="form-group">
                        <label class="sr-only" for="address">Dirección</label>
                        <input type="text" class="form-control" id="address" placeholder="Dirección">
                      </div>
                      <br>
                      <div class="form-group">
                        <label class="sr-only" for="provider">Proveedor</label>
                        <input type="text" class="form-control" id="provider" placeholder="Proveedor">
                      </div>
                      <br><br>
                      <div class="form-group">
                        <label class="sr-only" for="deviceType">Tipo de dispositivo</label>
                        <select class="form-control" id="deviceType">
                          <option>DEA</option>
                          <option>DESA</option>
                          <option>Desfibrilador</option>
                        </select>
                      </div>
                      <br><br>
                      <div class="form-group">
                        <label class="sr-only" for="localizacion">localizacion</label>
                        <input type="text" class="form-control" id="provider" placeholder="localizacion (lon,lat) __._,__._">
                      </div>
                      <br><br>
                      <div class="form-group">
                        <label for="imagen">Imagen</label>
                        <input type="file" class="form-control" id="imagen" placeholder="Imagen">
                      </div>
                      <br><br>
                      <button type="submit" class="btn btn-info">Enviar</button>
                    </form>
                  </div>
                </div>
            </div>

            <div class="sidebar-pane" id="api">
                <h1 class="sidebar-header">API Docs<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">
                  <!-- Default panel contents -->
                  <div class="panel-heading">
                    <h3 class="panel-title">API Documentation</h3>
                  </div>
                  <div class="panel-body">
                    <p>Accede a la docuentación de la API, selecciona la entidad correspondiente</p>
                  </div>

                  <!-- Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Entidad</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="active">
                        <td>Sesiones</td>
                        <td><a href="#" class="btn btn-info btn-sm active" role="button">Session API Docs</a></td>
                      </tr>
                      <tr>
                        <td>Users</td>
                        <td><a href="#" class="btn btn-info btn-sm active" role="button">Users API Docs</a></td>
                      </tr>
                      <tr>
                        <td>Devices</td>
                        <td><a href="#" class="btn btn-info btn-sm active" role="button">Users Devices Docs</a></td>
                      </tr>
                      <tr>
                        <td>Providers</td>
                        <td><a href="#" class="btn btn-info btn-sm active" role="button">Providers API Docs</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
            </div>

            <div class="sidebar-pane" id="contact">
                <h1 class="sidebar-header">Contacto<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Contacta con nosotros</h3>
                  </div>
                  <div class="panel-body">
                    <p class="lorem">Póngase en contacto con nosotros para cualquier duda, queja o sugerencia.</p>
                    <form class="form-inline">
                      <div class="form-group">
                        <label class="sr-only" for="nombreApellidos">Nombre y Apellidos</label>
                        <input type="text" class="form-control" id="nombreApellidos" placeholder="Nombre y Apellidos">
                      </div>
                      <br>
                      <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <br><br>
                      <div class="form-group">
                        <label class="sr-only" for="texto">texto</label>
                        <textarea class="form-control" rows="7" placeholder="escribe tu duda, queja o sugerencia, GRACIAS"></textarea>
                      </div>

                      <br><br>
                      <button type="submit" class="btn btn-info">Enviar</button>
                    </form>
                  </div>
                </div>
            </div>

            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header">Settings<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
            </div>
        </div>
    </div>

    <div id="map" class="sidebar-map"></div>

    <!-- <a href="https://github.com/Turbo87/sidebar-v2/"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a> -->

    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="../js/leaflet-sidebar.js"></script>

    <script>
        var map = L.map('map');
        map.setView([37.395520, -5.160449], 8);
        L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 18,
            attribution: 'Map data &copy; OpenStreetMap contributors'
        }).addTo(map);
        var marker = L.marker([37.395520, -5.160449]).addTo(map);
        var sidebar = L.control.sidebar('sidebar').addTo(map);
    </script>
</body>
</html>
