<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" /><![endif]-->

    <link rel="stylesheet" href="../stylesheets/leaflet-sidebar.css" />
    <link rel="stylesheet" href="../stylesheets/chat.css" />

    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript">
      var socket = io();

      function sendMessage() {
        var msg = $('#textMessage').val();
        console.log(arguments[0] + " " + msg);
        socket.emit('new message', {name: arguments[0], message: msg});

        $('#textMessage').val('');
      }

      socket.on('chat message', function(msg) {
        var messageHTML = '<div class="media msg"><a class="pull-left" href="#"><img class="media-object  img-circle" data-src="holder.js/64x64" alt="64x64" style="width: 24px; height: 24px;" src="/images/boy.png"></a><div class="media-body"><small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small><h5 class="media-heading">'+msg.name+'</h5><small class="col-md-10 text-muted">' + msg.message +'</small></div></div>';
        $('#chatMessages').append(messageHTML);

        var objDiv = document.getElementById("chatMessages");
        objDiv.scrollTop = objDiv.scrollHeight;
      });


    </script>

</head>

<body onload="getLocation()">
    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-bars"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <% if ((session.user.permissions == "administrador")|| (session.user.permissions == "colaborador")){ %>
                  <li><a href="#device" role="tab"><i class="fa fa-heartbeat"></i></a></li>
                <% } %>
                <% if (session.user.permissions == "administrador") { %>
                  <li><a href="#provider" role="tab"><i class="fa fa-shopping-cart"></i></a></li>
                <% } %>
                <li><a href="#api" role="tab"><i class="fa fa-html5"></i></a></li>
                <li><a href="#contact" role="tab"><i class="fa fa-envelope"></i></a></li>
                <% if ((session.user.permissions == "administrador")|| (session.user.permissions == "colaborador")){ %>
                  <li><a href="#chat" role="tab"><i class="fa fa-comment"></i></a></li>
                <% } %>
            </ul>
                        <% if (session.user.permissions == "revisor") { %>
                          <ul role="tablist">
                              <li><a href="#revisions" role="tab"><i class="fa fa-gear"></i></a></li>
                          </ul>
                        <%}%>
                        <% if (session.user.permissions == "administrador") { %>
                          <ul role="tablist">
                            <li><a href="#callcenter" role="tab"><i class="fa fa-ambulance"></i></a></li>
                            <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li>
                          </ul>
                        <%}%>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    geoDESA
                    <div class="sidebar-close"><i class="fa fa-caret-left"></i></div>
                </h1>
                <br>
                <p> Web para la gestión y geolocalización de Desfibriladores Externos SemiAutomáticos (DESA) o Desfibriladores Externos Automáticos (DEA) <!--<a href="http://leafletjs.com/">Leaflet</a> or <a href="http://openlayers.org/">OpenLayers</a>-->.</p>

                <p class="lorem">El desfibrilador externo semiautomático (DESA) o desfibriliador externo automático (DEA), es un aparato electrónico portátil (producto sanitario) que diagnostica y trata la parada cardiorrespiratoria cuando es debida a la fibrilación ventricular (en que el corazón tiene actividad eléctrica pero sin efectividad mecánica) o a una taquicardia ventricular sin pulso (en que hay actividad eléctrica y en este caso el bombeo sanguíneo es ineficaz), restableciendo un ritmo cardíaco efectivo eléctrica y mecánicamente. La desfibrilación consiste en emitir un impulso de corriente continua al corazón, despolarizando simultáneamente todas las células miocárdicas, pudiendo retomar su ritmo eléctrico normal u otro eficaz. La fibrilación ventricular es la causa más frecuente de muerte súbita.</p>

                <p class="lorem">El DESA o DEA es muy eficaz para la mayor parte de los llamados paros cardíacos, que en su mayor parte son debidos a que el corazón fibrila y su ritmo no es el adecuado, estos equipos básicamente devuelven el ritmo adecuado al corazón, pero es totalmente ineficaz en la parada cardíaca con asistolia pues el corazón, en este caso, además de no bombear la sangre, no tiene actividad eléctrica; y en la actividad eléctrica sin pulso (AESP), antes denominada disociación electromecánica, donde hay actividad eléctrica, que puede ser incluso normal, pero sin eficacia mecánica. En estos dos últimos casos únicamente se debe realizar compresión torácica mientras se establecen otras medidas avanzadas.</p>

            </div>
            <!--Formulario de autenticación de usuarios registrados, y también pueden darse de alta con sing up-->
            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header"><i class="fa fa-user"></i> Profile<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">
                  <%if (session.user == ""){ %>
                  <div class="panel-heading">
                    <h3 class="panel-title">Sign in</h3>
                  </div>
                  <div class="panel-body">
                    <form class="form-inline" action="/sessions/login" method="post">
                        <div class="form-group">
                          <label class="sr-only" for="login">Login</label>
                          <input type="text" class="form-control " id="login" name="login" placeholder="Login">
                        </div>
                        <br>
                        <div class="form-group">
                          <label class="sr-only" for="password">Password</label></br>
                          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                        </div>
                        <br>
                        <br>
                        <button type="submit" class="btn btn-info">Sign in</button>
                    </form>
                    <br>
                    <div class="alert alert-info" role="alert">¿No tienes usuario? Pulsa a continuación para darte de alta</div>
                    <form class="form-inline" action="/users/solicitudalta" method="get">
                        <button type="submit" class="btn btn-info">Sign up</button>
                    </form>
                  </div>
                    <% } else { %>
                      <div class="panel-heading">
                        <h3 class="panel-title">User</h3>
                      </div>
                      <div class="panel-body">
                        <p>User: <%= session.user.username %></p>
                        <form action="/sessions/logout" method="get">
                          <button type="submit" class="btn btn-info">Log out</button>
                        </form>
                      </div>
                    <% } %>
                </div>
            </div>

            <!--formulario de Devices -->
            <div class="sidebar-pane" id="device">
                <h1 class="sidebar-header"><i class="fa fa-heartbeat"></i> DEA / DESA<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">

                  <% if (session.user.permissions == "administrador"){ %>
                      <div class="panel-heading">
                        <h3 class="panel-title">New DEA/DESA</h3>
                      </div>
                      <div class="panel-body">
                        <p class="lorem">Introduzca la información del nuevo dispositivo</p>
                        <form class="form-inline" action="/devices/create" method="post">
                          <div class="form-group">
                            <label for="name">Nombre</label><br>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Nombre"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label for="serial_number">Número de serie</label><br>
                            <input type="text" class="form-control" id="serial_number" name="serial_number" placeholder="Numero de serie"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label for="localizacion">Localización</label><br>

                            <input type="text" class="form-control" id="location" name="location" placeholder="localización (lon,lat) __._,__._"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label for="address">Dirección</label><br>
                            <input type="text" class="form-control" id="address" name="address" placeholder="Dirección"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label for="city">Localidad</label><br>
                            <input type="text" class="form-control" id="city" name="city" placeholder="localidad"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label for="postal_code">Código postal</label><br>
                            <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Código postal"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label  for="province">Provincia</label><br>
                            <input type="text" class="form-control" id="province" name="province" placeholder="Provincia"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label  for="provider">Proveedor</label><br>
                            <input type="text" class="form-control" id="provider" name="provider" placeholder="Proveedor"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label for="deviceType">Instalación (obligatorio, voluntario)</label><br>
                            <select class="form-control" id="deviceType" name="instalation"><br>
                              <option>obligatorio</option>
                              <option>voluntario</option>
                            </select>
                          </div>
                          <br>
                          <div class="form-group">
                            <label  for="date_instalation">Fecha de instalación</label><br>
                            <input type="date" class="form-control" id="date_instalation" name="date_instalation" placeholder="Fecha de instalación"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label for="deviceType">Estado (0 - fallo, 1 - ok, 2 - revision)</label><br>
                            <select class="form-control" id="id_estado" name="id_estado"><br>
                              <option>0</option>
                              <option>1</option>
                              <option>2</option>
                            </select>
                          </div>
                          <br>
                          <div class="form-group">
                            <label  for="make">Marca</label><br>
                            <input type="text" class="form-control" id="make" name="make" placeholder="Marca"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label  for="model">Modelo</label><br>
                            <input type="text" class="form-control" id="model" name="model" placeholder="Modelo"><br>
                          </div>
                          <br>
                          <div class="form-group">
                            <label  for="firmware">firmware:</label><br>
                            <input type="text" class="form-control" id="firmware" name="firmware" placeholder="firmware"><br>
                          </div>
                          <br><br>
                          <button type="submit" class="btn btn-info">Enviar</button>
                        </form>
                      </div>
                    <%} else { %>
                      <div class="panel-body">
                          <p class="lorem">Introduzca la información del dispositivo que ha enconctrado</p>
                          <form class="form-inline" action="/devices/createTemp" method="post">
                            <br>
                            <div class="form-group">
                              <label for="name">Nombre (obligatorio)</label><br>
                              <input type="text" class="form-control" id="name" name="name" placeholder="No Registrado/Defectuoso"><br>
                            </div>
                            <br>
                            <div class="form-group">
                              <label for="location">Localización</label><br>
                              <input type="text" class="form-control" id="location" name="location" placeholder="localizacion (lon,lat) __._,__._"><br>
                            </div>
                            <br>
                            <div class="form-group">
                              <label for="addressTemp">Dirección</label><br>
                              <input type="text" class="form-control" id="address" name="address" placeholder="Dirección"><br>
                            </div>
                            <br>
                            <div class="form-group">
                              <label for="cityTemp">Localidad</label><br>
                              <input type="text" class="form-control" id="city" name="city" placeholder="localidad"><br>
                            </div>
                            <br>
                            <div class="form-group">
                              <label for="postal_code">Código postal</label><br>
                              <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Código postal"><br>
                            </div>
                            <br>
                            <div class="form-group">
                              <label  for="province">Provincia</label><br>
                              <input type="text" class="form-control" id="province" name="province" placeholder="Provincia"><br>
                            </div>
                            <br><br>
                            <button type="submit" class="btn btn-info">Enviar</button>
                          </form>
                        </div>
                    <%}%>
                </div>
            </div>
            <!--formulario de providers -->
            <div class="sidebar-pane" id="provider">
                <h1 class="sidebar-header"><i class="fa fa-shopping-cart"></i> PROVIDERS<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">New PROVIDER</h3>
                  </div>
                  <div class="panel-body">
                    <p class="lorem">Introduzca la información del nuevo proveedor</p>
                    <form class="form-inline" action="/providers/create" method="post">
                      <br>
                      <div class="form-group">
                        <label for="name">Nombre</label><br>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Nombre">
                      </div>
                      <br>
                      <div class="form-group">
                        <label  for="cif">Cif</label><br>
                        <input type="text" class="form-control" id="cif" name="cif" placeholder="Cif">
                      </div>
                      <br>
                      <div class="form-group">
                        <label  for="phone">Teléfono</label><br>
                        <input type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono">
                      </div>
                      <br>
                      <div class="form-group">
                        <label  for="fax">Fax</label><br>
                        <input type="text" class="form-control" id="fax" name="fax" placeholder="Fax">
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="mail">Email</label><br>
                        <input type="text" class="form-control" id="mail" name="mail" placeholder="Correo electrónico">
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="address">Dirección</label><br>
                        <input type="text" class="form-control" id="address" name="address" placeholder="Dirección">
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="city">Ciudad</label><br>
                        <input type="text" class="form-control" id="city" name="city" placeholder="Ciudad">
                      </div>
                      <br>
                      <div class="form-group">
                        <label for="postal_code">Código postal</label><br>
                        <input type="text" class="form-control" id="postal_code" name="postal_code" placeholder="Código postal">
                      </div>
                      <br><br>
                      <div class="form-group">
                        <label for="province">Provincia</label><br>
                        <input type="text" class="form-control" id="province" name="province" placeholder="Provincia">
                      </div>
                      <br><br>
                      <button type="submit" class="btn btn-info">Enviar</button>
                    </form>
                  </div>
                </div>
            </div>

            <!--Formulario APIDocs-->
            <div class="sidebar-pane" id="api">
                <h1 class="sidebar-header"><i class="fa fa-html5"></i> API Docs<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">
                  <!-- Default panel contents -->
                  <div class="panel-heading">
                    <h3 class="panel-title">API Documentation</h3>
                  </div>
                  <div class="panel-body">
                    <p>Accede a la docuentación de la API, selecciona la entidad correspondiente</p>
                  </div>


                  <!-- Table -->
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Entidad</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                      <form class="form-inline" action="/sessions/api" method="get">
                          <tr>
                            <td>Sesiones</td>
                            <td><button type="submit" class="btn btn-info pull-right">Session API Docs</button></td>
                          </tr>
                      </form>
                      <form class="form-inline" action="/users/api" method="get">
                            <tr>
                                <td>Users</td>
                                <td><button type="submit" class="btn btn-info pull-right">Users API Docs</button></td>
                            </tr>
                      </form>
                      <form class="form-inline" action="/devices/api" method="get">
                          <tr>
                            <td>Devices</td>
                            <td><button type="submit" class="btn btn-info pull-right">Devices API Docs</button></td>
                          </tr>
                      </form>
                      <form class="form-inline" action="/providers/api" method="get">
                          <tr>
                            <td>Providers</td>
                            <td><button type="submit" class="btn btn-info pull-right">Providers API Docs</button></td>
                          </tr>
                      </form>
                    </tbody>
                  </table>
                </div>
            </div>

            <!-- Panel de contacto vía email -->
            <div class="sidebar-pane" id="contact">
                <h1 class="sidebar-header"><i class="fa fa-envelope"></i> Contacto<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Contacta con nosotros</h3>
                  </div>
                  <div class="panel-body">
                    <p class="lorem">Póngase en contacto con nosotros para cualquier duda, queja o sugerencia.</p>
                    <form class="form-inline">
                      <div class="form-group">
                        <label class="sr-only" for="nombreApellidos">Nombre y Apellidos</label>
                        <input type="text" class="form-control" id="nombreApellidos" placeholder="Nombre y Apellidos">
                      </div>
                      <br>
                      <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email">
                      </div>
                      <br><br>
                      <div class="form-group">
                        <label class="sr-only" for="texto">texto</label>
                        <textarea class="form-control" rows="7" placeholder="escribe tu duda, queja o sugerencia, GRACIAS"></textarea>
                      </div>

                      <br><br>
                      <button type="submit" class="btn btn-info">Enviar</button>
                    </form>
                  </div>
                </div>
            </div>

            <!--icono para chatear con el centro coordinador.-->
            <div class="sidebar-pane" id="chat">
                <h1 class="sidebar-header"><i class="fa fa-comment"></i> Chat<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Chat con centro coordinador</h3>
                  </div>
                  <div class="panel-body">
                    <div class="message-wrap">
                        <div class="msg-wrap" id="chatMessages">
                            <div class="media msg ">
                                <a class="pull-left" href="#">
                                    <img class="media-object    img-circle" style="width: 24px; height: 24px;" src="/images/boy.png">
                                </a>
                                <div class="media-body">
                                    <small class="pull-right time"><i class="fa fa-clock-o"></i> 12:10am</small>
                                    <h5 class="media-heading">Vanesa Martín</h5>
                                    <small class="col-md-10 text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam convallis, augue sed euismod varius, nisl metus vestibulum neque, nec dictum est dui et tellus</small>
                                </div>
                            </div>
                            <div class="alert alert-info msg-date">
                                <strong>Today</strong>
                            </div>

                        </div>

                        <div class="send-wrap ">
                            <textarea class="form-control send-message" rows="3" placeholder="Escribe tu respuesta..." id="textMessage"></textarea>
                        </div>
                        <div class="btn-panel">
                            <button class="btn btn-success" role="button" onclick="sendMessage('<%= String(session.user.username) %>')">
                                <i class="fa fa-share"></i> Enviar mensaje
                            </button>
                        </div>
                    </div>
                  </div>
                </div>
            </div>
            <div class="sidebar-pane" id="revisions">
                <h1 class="sidebar-header">Revisiones<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title">Devices administration</h3>
                  </div>
                  <div class="panel-body">

                    <form class="form-inline" action="/devices/" method="get">
                        <br>
                        <br>
                          <button type="submit" class="btn btn-info">Devices</button>
                    </form>
                  </div>
                </div>
            </div>

            <div class="sidebar-pane" id="callcenter">
                <h1 class="sidebar-header"><i class="fa fa-ambulance"></i>Call Center<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-ambulance"></i> Call center operations</h3>
                  </div>
                  <div class="panel-body">

                    <form class="form-inline" action="/callcenter" method="get">
                        <br>
                        <br>
                          <button type="submit" class="btn btn-info">Go to Callcenter</button>
                      </form>
                  </div>
                </div>


            </div>


            <div class="sidebar-pane" id="settings">
                <h1 class="sidebar-header"><i class="fa fa-gear"></i> Settings<div class="sidebar-close"><i class="fa fa-caret-left"></i></div></h1>
                <br>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-user"></i> Users administration</h3>
                  </div>
                  <div class="panel-body">

                    <form class="form-inline" action="/users/" method="get">
                        <br>
                        <br>
                          <button type="submit" class="btn btn-info">Users</button>
                      </form>
                  </div>
                </div>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-heartbeat"></i> Devices administration</h3>
                  </div>
                  <div class="panel-body">
                    <form class="form-inline" action="/devices/" method="get">
                        <br>
                        <br>
                          <button type="submit" class="btn btn-info">Devices</button>
                      </form>
                  </div>
                </div>
                <div class="panel panel-info">
                  <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-shopping-cart"></i> Provider adminitration</h3>
                  </div>
                  <div class="panel-body">

                    <form class="form-inline" action="/providers/" method="get">
                        <br>
                        <br>
                          <button type="submit" class="btn btn-info">Providers</button>
                      </form>
                  </div>
                </div>
            </div>
        </div>
    </div>

    <div id="map" class="sidebar-map"></div>



    <!--<a href="https://github.com/Turbo87/sidebar-v2/"><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>-->

    <!-- <a ><img style="position: fixed; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a> -->
    <!--muestra el icono del mundo para geolocalizacion de los desa o dea mas cercanos a nuestra posicion.-->

       <!--geolocalizacion de la posicion-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="../js/leaflet-sidebar.js"></script>
    <!-- Icono del mundo a la derecha arriba.-->
    <a href="/" role="tab"><i style="position: fixed; top: 40px; right: 40px; border: 40px; width: 40px; heigth:40px" class="fa fa-globe fa-3x"></i>></a>


    <script>
    //definimos las variables para los iconos
    var personIcon = L.icon({
        iconUrl: './images/boy.png',
        iconSize:     [24, 24], // size of the icon
        iconAnchor:   [22, 50], // point of the icon which will correspond to marker's location
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    var collaboratorIcon = L.icon({
        iconUrl: './images/collaborator.png',
        iconSize:     [24, 24], // size of the icon
        iconAnchor:   [22, 50], // point of the icon which will correspond to marker's location
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    var desaIcon = L.icon({
        iconUrl: './images/heart.png',
        iconSize:     [24, 24], // size of the icon
        iconAnchor:   [22, 50], // point of the icon which will correspond to marker's location
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    var desaGreen = L.icon({
        iconUrl: './images/healthgreen.png',
        iconSize:     [24, 24], // size of the icon
        iconAnchor:   [22, 50], // point of the icon which will correspond to marker's location
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });
    var desaYellow = L.icon({
        iconUrl: './images/heartyellow.png',
        iconSize:     [24, 24], // size of the icon
        iconAnchor:   [22, 50], // point of the icon which will correspond to marker's location
        popupAnchor:  [-3, -76] // point from which the popup should open relative to the iconAnchor
    });

    //geolocalizacion de la posicion

        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                alarm ("No soporta geolocalización");
            }
        }

        var map = L.map('map');

        function showPosition(position) {

          geoPositionLat = position.coords.latitude;
          geoPositionLon = position.coords.longitude;

         map.setView([geoPositionLat, geoPositionLon], 14, {icon: personIcon});
          L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
              maxZoom: 18,
              attribution: 'Map data &copy; OpenStreetMap contributors'
          }).addTo(map);


          // marcamos nuestra posicion L.marker([lat, long], zoom, {icon:icono})
          var marker = L.marker([geoPositionLat, geoPositionLon],{icon: personIcon}).
                      bindPopup("<html><body>"
                                + "<p>Este soy yo!!!</p>"
                                + "</body></html>").openPopup().addTo(map);

          // Mostrar listado de posiciones de deispositivos cercanoss
          // a nuestra posicion actual
          $.get("/devices/search/"+geoPositionLat+"/"+geoPositionLon+"/155000", function(data){
            for (var i = 0; i < data.length; i++){
              if(data[i].obj.id_estado == "0"){
                  var nuevaMarca =  L.marker([data[i].obj.location.coordinates[0], data[i].obj.location.coordinates[1] ],{icon: desaIcon}).
                                bindPopup("<html><body>"
                                          + "<a href=/devices/"+data[i].obj._id
                                          + ">Ver dispositivo</a>"
                                          + "</body></html>").openPopup().addTo(map);
              };
              if(data[i].obj.id_estado == "1"){
                  var nuevaMarca =  L.marker([data[i].obj.location.coordinates[0], data[i].obj.location.coordinates[1] ],{icon: desaGreen}).
                                bindPopup("<html><body>"
                                          + "<a href=/devices/"+data[i].obj._id
                                          + ">Ver dispositivo</a>"
                                          + "</body></html>").openPopup().addTo(map);
              };
              if(data[i].obj.id_estado == "2"){
                  var nuevaMarca =  L.marker([data[i].obj.location.coordinates[0], data[i].obj.location.coordinates[1] ],{icon: desaYellow}).
                                bindPopup("<html><body>"
                                          + "<a href=/devices/"+data[i].obj._id
                                          + ">Ver dispositivo</a>"
                                          + "</body></html>").openPopup().addTo(map);
              };

            }

          var sidebar = L.control.sidebar('sidebar').addTo(map);



          });

          $('#location').val(geoPositionLat + "," + geoPositionLon);
          $('#locationTemp').val(geoPositionLat + "," + geoPositionLon);

          <% if (session.user.permissions == "colaborador") { %>
            setInterval(function () {
              var socket = io();
              var colaborador = '<%= String(session.user.username) %>';
              var pos = "Posicion " + colaborador + ": " + geoPositionLat+ ","+ geoPositionLon;
              socket.emit('collaborator position', {lat: geoPositionLat, lon: geoPositionLon, colaborador:colaborador});
              //socket.emit('collaborator position', {lat: geoPositionLat + Math.random(0.1,0.3), lon: geoPositionLon + Math.random(0.1,0.2), colaborador:colaborador});
              console.log(pos);
            }, 10000);
          <% } %>
        }
    </script>

</body>
</html>
