<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <link rel="stylesheet" href="../stylesheets/leaflet-sidebar.css" />

    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>
</head>
<body>
<section data-ng-controller= "usersController">

      <br>
      <div class="panel panel-info">
          <div class="panel-heading">
              <h3 class="panel-title">New USER</h3>
          </div>
          <div class="panel-body">
              <p class="lorem">Introduzca la información del nuevo usuario</p>
                   <form class="form-inline" action="" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label class="sr-only" for="firstName">Nombre</label>
                        <input type="text" class="form-control " id="firstName" placeholder="nombre">
                      </div>
                      <br>
                      <div class="form-group">
                        <label class="sr-only" for="lastName">Apellidos</label>
                        <input type="text" class="form-control" id="lastName" placeholder="Apellidos">
                      </div>
                      <br>
                      <div class="form-group">
                        <label class="sr-only" for="email">Email</label>
                        <input type="text" class="form-control" id="email" placeholder="email">
                      </div>
                      <br>
                      <div class="form-group">
                        <label class="sr-only" for="login">login</label>
                        <input type="text" class="form-control" id="login" placeholder="login">
                      </div>
                      <div class="form-group">
                        <label class="sr-only" for="password">Contraseña</label>
                        <input type="text" class="form-control" id="password" placeholder="contraseña">
                      </div>
                      <br>
                      <br><br>
                      <button type="submit" class="btn btn-info">Enviar</button>
                 </form>
            </div>
      </div>
