<!DOCTYPE html>
<html>
<head>
    <title></title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.ie.css" /><![endif]-->

    <link rel="stylesheet" href="../stylesheets/leaflet-sidebar.css" />
    <link rel="stylesheet" href="../stylesheets/geodesa.css" />
    <style>
        body {
            padding: 0;
            margin: 0;
        }
        html, body, #map {
            height: 100%;
            font: 10pt "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .lorem {
            font-style: italic;
            color: #AAA;
        }
    </style>
</head>
<body>
  <div class="panel panel-info solicitudalta">
      <div class="panel-heading">
            <h3 class="panel-title"><p>Users settings</p></h3>
      </div>
       <form class="form-inline" action="/list" method="get" >
         <table class="table">
           <thead>
             <tr>
               <th>usuarios</th>
               <th></th>
             </tr>
           </thead>
           <tbody>
              <tr>
                 <td>

                   <p id="i"></p>
                   <script>

                     //(2)
                     var text= '{"_id":"5634fd5ff863b22152ea224e","__v":0,"isApprove":true,"isAdmin":true,"password":"admin1","userName":"admin1","lastName":"administrador1","firstName":"administrador1"}';

                        var obj = JSON.parse(text);
                        document.getElementById("i").innerHTML = obj.userName + " " + obj.isAdmin;

                    </script>
                 </td>
                 <td>
                      <!--<a href="#" class="btn btn-info btn-sm active">-->
                      <button type="button" action="/edit/:id" method="get"class="btn btn-success">Edit</button>
                            <!-- Indicates caution should be taken with this action -->
                      <button type="button" action="/update/:id" method="put" class="btn btn-warning">Update</button>
                
                            <!-- Indicates a dangerous or potentially negative action -->
                      <button type="button" action="/delete/:id" method="delete"class="btn btn-danger">Delete</button>

                 </td>

               </tr>

          </tbody>
         </table>
       </form>
       <script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
       <script src="../js/leaflet-sidebar.js"></script>
    </div>
</body>
