

<!--formulario de providers -->

        <form class="form-inline" action="/create" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label class="sr-only" for="name">Nombre</label>
            <input type="text" class="form-control " id="name" name="name" placeholder="Nombre">
          </div>
          <br>
          <div class="form-group">
            <label class="sr-only" for="address">Dirección</label>
            <input type="text" class="form-control" id="address" name=" address" placeholder="Dirección">
          </div>
          <br>
          <div class="form-group">
            <label class="sr-only" for="cif">Cif</label>
            <input type="text" class="form-control" id="cif" name="cif" placeholder="Cif">
          </div>
          <br>
          <div class="form-group">
            <label class="sr-only" for="phone">Teléfono</label>
            <input type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono">
          </div>
          <br>
          <br><br>
          <br><br>
          <button type="submit" class="btn btn-info">Enviar</button>
        </form>
